:root{
    --bg-color: white;
    --text-color: black;
    --secondary-bgColor:rgb(198, 226, 237);
    --header-color: rgba(125, 208, 247, 0.92);
    --profile-image-shadow-color: #ffffff;
    --spacing-regular: 16px;
    --spacing-small:8px;
}
body.dark-theme{
    --bgColor: rgb(19, 18, 18);
    --text-color: white;
    --secondary-bgColor: rgb(130, 169, 185);
    --dark-menu-bg: rgb(201, 210, 214);
    --profile-image-shadow-color:#a4cfe8;
}

* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: var(--bg-color);
    color: var(--text-color);

}

/* section > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */



header {
    border-bottom: 4px solid;
    padding: 26px;
    margin: 0;
    position: static;
    top: 0;
    background-color: var(--header-color);
    text-align: center;
}

header nav a {
    text-decoration: none;
    color: black;
    margin-right: var(--spacing-regular);
}

header nav a:last-child {
    margin-right: revert;
}

header nav a:hover {
    text-decoration: royalblue;
}

header nav a:visited {
    text-decoration: royalblue;
}

.default-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#mobile-theme-icon-btn{
    position: absolute;
    left: var(--spacing-regular);
    top: var(--spacing-regular);
}


#intro {
    background-color: var(--secondary-bgColor);
    color: var(--text-color);
    margin: calc(-1* var(--spacing-regular));
    padding: var(--spacing-regular);
    text-align: center;

}

#intro #role{
    color: rgb(0, 134, 218);
    font-weight: 600;
}

#profile-image {
    width: 300px;
    border-radius: 50rem;
    box-shadow: 0px 0px 13px 8px var(--profile-image-shadow-color);
}

.socials img {
    width:25px;
    transition: transform 0.3s ease-in-out;
    
   
}

.socials img:hover {
    transform: scale(1.3,1.3);
}

.socials a {
    margin: auto var(--spacing-regular);
    text-decoration: none;
   
}
.container {
    padding: var(--spacing-regular);
}

.container > section > h2 {
    text-align: center;
}

p {
    line-height: 1.7rem;
    /* font-size: 1.2rem; */
}


table,tr,td,th {
    border: 1px solid black;
    border-collapse: collapse;
   
}
table{
    margin: auto;
    width: 90%;
    text-align: center;
}

td,th {
    padding: var(--spacing-small);
}

#contact {
    margin: 2rem auto;
}

#contact form{
    max-width: fit-content;
    border: 2px solid;
    border-radius: 1rem;
    margin: auto;
    padding: 1rem;

}

#contact form h2{
    text-align: center;
}

#contact form label
{
    font-weight:600;
    display: block;
    font-size: medium;
  
}

#contact form input,
#contact form textarea,
#contact button
{
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}

#contact button{
    font-size: inherit;
    padding: var(--spacing-small);
    border-radius: 0.5rem;
    background-color: var(--secondary-bgColor);
}

#contact form input,
#contact form textarea{
    border: 1px solid black;
    border-radius: 0.2rem;
}

footer {
    border-top: 4px solid;
    padding: var(--spacing-small);
    text-align: center;
}



.mobile-nav,
.menu {
    display: none;
    display: none;
    
}

.container section {
    padding-top: 2rem;
    scroll-margin-top: 50px;
}

.container_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
    justify-content: center;
}

.card ul{
    list-style: none;
    padding: 0;
}

.card {
    border: 1px solid var(--secondary-bgColor);
    padding: 4px;
    box-shadow: 4px 4px 9px 3px var(--secondary-bgColor);
    /* display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-items: center; */
    display: grid;
    justify-items: center;
    border-radius: 1rem;
    transition: transform 0.4s ease-in, box-shadow 0.4s ease-in-out;
}

.card:hover{
    box-shadow: 4px 4px 13px 7px rgb(88 138 158);
    transform: translateY(calc(-1* var(--spacing-small)));
}

.card header{
    font-weight: 600;
    font-size: x-large;
    width: 100%;

}

.card header {
    background-color: var(--secondary-bgColor);
}

.card header, .card:hover {
    z-index: -1;
}

.theme-icon{
    width: 40px;
    height: 40px;
    
}

.theme-icon-btn{
    background-color: var(--secondary-color);
    cursor: pointer;
    border: none;
}


@media (width > 1000px){

    footer {
        text-align: left;
    }
    footer > p{
        animation: moveLeftToRight 16s 0.1s cubic-bezier(0.21, 0.16, 0.45, 0.6) infinite alternate;
    }
}



@media(width < 500px) {
    .default-nav{
        display: none;
    }

    .mobile-nav,
    section.menu{
        display: revert;
    }

    /* to show but still hide - make height 100% on click of menu in js */
    section.menu{
        height: 0;
        width: 100%;
        z-index: 2;
        overflow: hidden;
        background-color: rgb(226, 234, 238);
        position: fixed; top: 0;
        transition: height 0.5s cubic-bezier(0, 0.41, 0.91, 0.5);
    }

    #close-menu {
        border: none;
        background: transparent;
        font-size: 200%;
        position: absolute; right: var(--spacing-regular); top: var(--spacing-regular);
    }

    section.menu nav {
        margin-top: 48px;
    }

    section.menu ul{
        list-style: none;
        padding-top: calc(2*var(--spacing-regular));
    }

    section.menu ul > li {
        
        margin-bottom: 24px;
        font-size: 140%;
    }

    section.menu ul li a{
        text-decoration: none;
        color: black;
    }
    section.menu ul li > a:hover {
        text-decoration: royalblue;
    }

    section.menu ul li > a:visited {
        color: royalblue;
    }



    .mobile-nav button{
        display: block;
        padding: var(--spacing-small);
        border-radius: 0.5rem;
        background-color: transparent;
        margin-left: auto;
        font-size: inherit;
    }

   

    table {
        font-size: 70%;
    }

    td,th {
        padding: 2px;
    }
}

@media (width < 350px) {

    #profile-image {
        width: 100%;
    }

}

@keyframes moveLeftToRight {
    from {
        transform: translate(5%,0%);
    }
    to {
        transform: translate(75%,0%);
    }
}

@media(prefers-color-scheme:dark){
    :root {
        --bg-color: rgb(19, 18, 18);
        --text-color: white;
        --secondary-bgColor: rgb(130, 169, 185);
        --dark-menu-bg: rgb(201, 210, 214);
        --profile-image-shadow-color:#a4cfe8;
        --table-border: rgb(58, 130, 166);
    }
    
    body.light-theme{
        --bg-color: white;
        --text-color: black;
        --secondary-bgColor:rgb(198, 226, 237);
        --header-color: rgba(125, 208, 247, 0.92);
        --profile-image-shadow-color: #ffffff;
    }
    

    *{
        border: var(--text-color);
    }

    table,tr,td,th {
        border: 1px solid var(--table-border);
        border-collapse: collapse;
       
    }
    #intro {
        background-color: var(--secondary-bgColor);
    }

    .card {
        border: 1px solid var(--header-color);
        box-shadow: 4px 4px 9px 3px var(--header-color);
        
        
    }

    .card header {
        background-color: var(--header-color);
    }
    #contact button{
        background-color: var(--header-color);
    }

    section.menu{
        background-color: var(--dark-menu-bg);
    }

    .mobile-nav button{
        border: 1px solid black;

    }   
    #profile-image {
        box-shadow: 0px 0px 13px 8px var(--profile-image-shadow-color);
    }

    .card:hover{
        box-shadow: 4px 4px 13px 7px rgb(69, 193, 250);
        
    }

    /* main{
        background-color: var(--bg-color);
        color: var(--text-color);
    } */
    
}
