* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border-bottom: 4px solid;
    padding: 26px;
    margin: 0;
    position: sticky;
    top: 0;
    background-color: hsl(199deg 100% 48% / 42%);
    text-align: center;
}



header nav  > a {
    text-decoration: none;
    padding: 8px;
    margin: 16px;
}

header nav  > a:hover {
    text-decoration: underline;
}

#intro {
    background-color: rgb(19, 18, 18);
    color: white;
    margin: -16px;
    padding: 16px;
    text-align: center;

}

#profile-image {
    width: 300px;
    border-radius: 50rem;
}

.socials img {
    width:25px;
   
}

.socials a {
    margin: auto 16px;
    text-decoration: none;
   
}
.container {
    padding: 16px;
}

.container > section > h2 {
    text-align: center;
}

p {
    line-height: 1.7rem;
    /* font-size: 1.2rem; */
}


table,tr,td,th {
    border: 1px solid black;
    border-collapse: collapse;
   
}
table{
    margin: auto;
    width: 90%;
    text-align: center;
}

td,th {
    padding: 8px;
}

#contact {
    margin: 2rem auto;
}

#contact form{
    max-width: fit-content;
    border: 2px solid;
    border-radius: 1rem;
    margin: auto;
    padding: 1rem;

}

#contact form h2{
    text-align: center;
}

#contact form label
{
    font-weight:600;
    display: block;
  
}

#contact form input,
#contact form textarea,
#contact button
{
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}

footer {
    border-top: 4px solid;
    padding: 16px;
    text-align: center;
}

