:root{
    --bg-color: white;
    --text-color: black;
}

* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border-bottom: 4px solid;
    padding: 26px;
    margin: 0;
    position: sticky;
    top: 0;
    background-color: rgba(125, 208, 247, 0.92);
    text-align: center;
}

header nav  > a {
    text-decoration: none;
    color: black;
    margin-right: 16px;
}

header nav  > a:last-child {
    margin-right: revert;
}

header nav  > a:hover {
    text-decoration: underline;
}

header nav  > a:visited {
    text-decoration: royalblue;
}


#intro {
    background-color: rgb(19, 18, 18);
    color: white;
    margin: -16px;
    padding: 16px;
    text-align: center;

}

#profile-image {
    width: 300px;
    border-radius: 50rem;
}

.socials img {
    width:25px;
    transition: transform 0.3s ease-in-out;
    
   
}

.socials img:hover {
    transform: scale(1.3,1.3);
}

.socials a {
    margin: auto 16px;
    text-decoration: none;
   
}
.container {
    padding: 16px;
}

.container > section > h2 {
    text-align: center;
}

p {
    line-height: 1.7rem;
    /* font-size: 1.2rem; */
}


table,tr,td,th {
    border: 1px solid black;
    border-collapse: collapse;
   
}
table{
    margin: auto;
    width: 90%;
    text-align: center;
}

td,th {
    padding: 8px;
}

#contact {
    margin: 2rem auto;
}

#contact form{
    max-width: fit-content;
    border: 2px solid;
    border-radius: 1rem;
    margin: auto;
    padding: 1rem;

}

#contact form h2{
    text-align: center;
}

#contact form label
{
    font-weight:600;
    display: block;
  
}

#contact form input,
#contact form textarea,
#contact button
{
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}

footer {
    border-top: 4px solid;
    padding: 8px;
    text-align: center;
}



.mobile-nav,
.menu {
    display: none;
    display: none;
    
}

section {
    padding-top: 2rem;
}

@media (width > 1000px){

    footer {
        text-align: left;
    }
    footer > p{
        animation: moveLeftToRight 16s 0.1s cubic-bezier(0.21, 0.16, 0.45, 0.6) infinite alternate;
    }
}



@media(width < 500px) {
    .default-nav{
        display: none;
    }

    .mobile-nav,
    section.menu{
        display: revert;
    }

    /* to show but still hide - make height 100% on click of menu in js */
    section.menu{
        height: 0;
        width: 100%;
        z-index: 2;
        overflow: hidden;
        background-color: rgb(226, 234, 238);
        position: fixed; top: 0;
        transition: height 0.5s cubic-bezier(0, 0.41, 0.91, 0.5);
    }

    #close-menu {
        border: none;
        background: transparent;
        font-size: 200%;
        position: absolute; right: 16px; top: 16px;
    }

    section.menu nav {
        margin-top: 48px;
    }

    section.menu ul{
        list-style: none;
    }

    section.menu ul > li {
        margin-bottom: 24px;
        font-size: 140%;
    }

    section.menu ul li a{
        text-decoration: none;
        color: black;
    }
    section.menu ul li > a:hover {
        text-decoration: underline;
    }

    section.menu ul li > a:visited {
        color: royalblue;
    }



    .mobile-nav button{
        display: block;
        padding: 8px;
        border-radius: 0.5rem;
        background-color: transparent;
        margin-left: auto;
    }

   

    table {
        font-size: 70%;
    }

    td,th {
        padding: 2px;
    }
}

@media (width < 350px) {

    #profile-image {
        width: 100%;
    }

}

@keyframes moveLeftToRight {
    from {
        transform: translate(5%,0%);
    }
    to {
        transform: translate(75%,0%);
    }
}

@media(prefers-color-scheme:dark){
    :root {
        --bgColor: rgb(19, 18, 18);
        --text-color: white;
        --secondary-bgColor: rgb(130, 169, 185);
    }
    body {
        background-color: var(--bgColor);
        color: var(--text-color);
    }

    *{
        border: var(--text-color);
    }

    table,tr,td,th {
        border: 1px solid rgb(58, 130, 166);
        border-collapse: collapse;
       
    }
    #intro {
        background-color: var(--secondary-bgColor);
    }

}
